// .ques{
// background-color: teal;
// color: white;
// }
// .options{
//     background-color:white;
// color: black;
// div:hover{
//     background-color: teal;
//     color: white;
// }
// div:
// }
// .inputDisable{
//     disabled: ;
// }
.inputStyleSelect{
    background-color: green;
    color: white;
}
.correct {
  
    background-color: #00c853;
  }
  .incorrect {
    background-color: #ff0000;
  }
  .default{
    background-color: white;
  }
// .fav{
//   display:inline-flex;
// }
.fav1{
  float: left;;
}
.fav2{
  float:right;
}

